openapi: 3.0.0
info:
  title: API Credit Portability do Open Finance Brasil
  description: |
    A API de Portabilidade de Crédito permite que usuários transfiram suas operações de crédito e arrendamento mercantil entre instituições financeiras em busca de melhores condições para o Open Finance Brasil.
    
  version: 1.0.0
  contact:
    url: 'https://servicedesk.openbankingbrasil.org.br/Login.jsp?navLanguage=pt-BR'
servers:
  - url: 'http://api.banco.com.br/portability/credit-portability/v1'
tags:
  - name: Credit Portability
    description:  Permite que usuários transfiram suas operações de crédito e arrendamento mercantil entre instituições financeiras em busca de melhores condições. 
paths:
  /concurrency-management/{contractId}:
    get:
      tags:
        - Concurrency Management
      summary: Informa quais contratos pertencentes a um determinado cliente estará habilitado para a realização do pedido de portabilidade de crédito considerando a regra de só existir um pedido de portabilidade para um determinado contrato.
      description: Informa quais contratos estão disponíveis para solicitação de portabilidade de crédito.
      operationId: getConcurrencyManagement
      parameters:
        - $ref: '#/components/parameters/contractId'
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
        - $ref: '#/components/parameters/page'
        - $ref: '#/components/parameters/pageSize'
        - $ref: '#/components/parameters/pagination-key'
      responses:
        '200':
          $ref: '#/components/responses/OKResponseConcurrancyManagement'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '423':
          $ref: '#/components/responses/Locked'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
        '529':
          $ref: '#/components/responses/SiteIsOverloaded'
        default:
          $ref: '#/components/responses/Default'
  /portabilities:
    post:
      tags:
        - Credit Portability
      summary: Realiza pedido de portabilidade de crédito para um determinado contrato junto a instituição credora
      description: Solicitação de portabilidade de crédito via OFB.
      parameters:
        - $ref: '#/components/parameters/Authorization'
        - $ref: '#/components/parameters/xFapiAuthDate'
        - $ref: '#/components/parameters/xFapiCustomerIpAddress'
        - $ref: '#/components/parameters/xFapiInteractionId'
        - $ref: '#/components/parameters/xCustomerUserAgent'
      requestBody:
        content:
          application/jwt:
            schema:
              $ref: '#/components/schemas/RequestCreditPortability'
        description: Payload para criação da iniciação do pagamento Pix.
        required: true
      responses:
        '202':
          $ref: '#/components/responses/POSTResponseCreditPortability'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '405':
          $ref: '#/components/responses/MethodNotAllowed'
        '406':
          $ref: '#/components/responses/NotAcceptable'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '423':
          $ref: '#/components/responses/Locked'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '504':
          $ref: '#/components/responses/GatewayTimeout'
        '529':
          $ref: '#/components/responses/SiteIsOverloaded'
        default:
          $ref: '#/components/responses/Default'
components:
  schemas:
    ResponseConcurrancyManagement:
      type: object
      required:
        - data
      properties:
        data:
          type: object
          description: Conjunto de informações de contratos de empréstimos/financiamentos mantidos pelo cliente na instituição credora e para os quais ele tenha fornecido consentimento
          required:
            - contractId
            - portability
          properties:
              contractId:
                type: string
                pattern: "^[a-zA-Z0-9][a-zA-Z0-9-]{0,99}$"
                maxLength: 100
                minLength: 1
                example: "92792126019929279212650822221989319252576"
                description: "Identifica de forma única o contrato da operação de crédito do cliente, mantendo as regras de imutabilidade dentro da instituição transmissora."
              portability:
                type: object
                required:
                  - isEligible
                properties:
                  isEligible:
                    type: boolean
                    description: Sinaliza se o contrato é elegível para pedido de portabilidade de crédito via OFB
                  ineligible:
                    type: object
                    required:
                      - reasonType
                    description: |
                      Objeto para auxiliar a Instituição Proponente a entender o porque um contrato está inelegivel para pedido de portabilidade de crédito
                      
                      [RESTRIÇÃO] Campo de preenchimento obrigatório quando o campo 'isEligible' for igual a 'false'
                    properties:
                      reasonType:
                        type: string
                        enum:
                          - CONTRATO_LIQUIDADO
                          - CLIENTE_COM_ACAO_JUDICIAL
                          - MODALIDADE_OPERACAO_INCOMPATIVEL
                          - OUTROS
                        description: |
                          Informação sobre o motivo de inelegibilidade
                          CONTRATO_LIQUIDADO: Contrato liquidado pelo cliente.
                          CLIENTE_COM_ACAO_JUDICIAL: Cliente possui ação judicial
                          MODALIDADE_OPERACAO_INCOMPATIVEL: Caso o contrato tenha uma modalidade diferente do praticado no escopo de modalidades disponiveis para portabilidade de crédito
                          OUTROS: Caso exista algum motivo de recusa que não se encaixa nas opções disponiveis de reasonType, o campo reasonTypeAdditionalInfo deverá ser preenchido com o motivo da inelegibilidade
                      reasonTypeAdditionalInfo:
                        description: |
                          Informação sobre a disponibilidade ou não de um contrato para a portabilidade de crédito                      
                      
                          [RESTRIÇÃO] Campo de preenchimento obrigatório quando o campo 'reasonType' for igual a 'OUTROS'
                        type: string
                  status:
                    type: string
                    description: |
                      Informação sobre a disponibilidade ou não de um contrato para a portabilidade de crédito
                      
                      [RESTRIÇÃO] Campo de preenchimento obrigatório quando o campo isEligible for igual a true
                    enum:
                      - DISPONIVEL
                      - EM_ANDAMENTO
                  statusUpdateDateTime:
                    type: string
                    maxLength: 20
                    pattern: ^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])T(?:[01]\d|2[0123]):(?:[012345]\d):(?:[012345]\d)Z$
                    example: "2020-07-21T08:30:00Z"
                    description: |
                      Data e hora em que o contrato teve o status atualizado. Uma string com data e hora conforme especificação RFC-3339, sempre com a utilização de timezone UTC(UTC time format).
                      
                      [RESTRIÇÃO] Campo de preenchimento obrigatório quando o campo isEligible for igual a true
                  channel:
                    type: string
                    description: |
                      Informação sobre a disponibilidade ou não de um contrato para a portabilidade de crédito
                      
                      [RESTRIÇÃO] Campo de preenchimento obrigatório quando o campo status for igual a EM_ANDAMENTO
                    enum:
                      - OFB
                      - REGISTRADORA
                  
        meta:
          $ref: '#/components/schemas/Meta'
    RequestCreditPortability:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          minItems: 0
          description: Conjunto de informações de contratos de empréstimos/financiamentos mantidos pelo cliente na instituição credora e para os quais ele tenha fornecido consentimento
          items:
            type: object
            required:
            - customerContact
            - institution
            - contractIdentification
            - proposedContract
            properties:
              customerContact:
                type: array
                minItems: 1
                items:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                        - TELEFONE
                        - EMAIL
                      description: "Tipo do contato do cliente."
                    value:
                      type: string
                      pattern: ^([1-9]{2}(?:[2-8]|9[0-9])[0-9]{3}[0-9]{4})|([a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,})$
                      example: "11999999999"
              institution:
                type: object
                properties:
                  creditor:
                    type: object
                    properties:
                      brandName:
                        type: string
                        pattern: '^(?!\s)[\w\W\s]*[^\s]$'
                        maxLength: 80
                        example: Instituição Credora               
                        description: 'Nome da Marca reportada pelo participante no Open Finance. Recomenda-se utilizar, sempre que possível, o mesmo nome de marca atribuído no campo do diretório Customer Friendly Server Name (Authorisation Server).'
                      companyCnpj:
                        type: string
                        pattern: '\d{14}$'
                        maxLength: 14
                        example: '21128159000166'
                        description: 'Número completo do CNPJ da instituição responsável pelo Cadastro - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. Deve-se ter apenas os números do CNPJ, sem máscara.'
                  proposing:
                    type: object
                    properties:
                      brandName:
                        type: string
                        pattern: '^(?!\s)[\w\W\s]*[^\s]$'
                        maxLength: 80
                        example: Instituição Proponente
                        description: 'Nome da Marca reportada pelo participante no Open Finance. Recomenda-se utilizar, sempre que possível, o mesmo nome de marca atribuído no campo do diretório Customer Friendly Server Name (Authorisation Server).'
                      companyCnpj:
                        type: string
                        pattern: '\d{14}$'
                        maxLength: 14
                        example: '21128159000166'
                        description: 'Número completo do CNPJ da instituição responsável pelo Cadastro - o CNPJ corresponde ao número de inscrição no Cadastro de Pessoa Jurídica. Deve-se ter apenas os números do CNPJ, sem máscara.'
                      contact:
                        type: array
                        minItems: 1
                        items:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - EMAIL
                                - TELEFONE
                              description: "Tipo do contato do cliente."
                            value:
                              type: string
                              pattern: ^([1-9]{2}(?:[2-8]|9[0-9])[0-9]{3}[0-9]{4})|([a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,})$
                              example: "contato@instituicao_proponente.com.br"
              contractIdentification:
                type: object
                properties:
                  contractId:
                    type: string
                    pattern: ^[a-zA-Z0-9][a-zA-Z0-9-]{0,99}$
                    maxLength: 100
                    minLength: 1
                    example: "92792126019929279212650822221989319252576"
                    description: "Identifica de forma única o contrato da operação de crédito do cliente, mantendo as regras de imutabilidade dentro da instituição transmissora."
                  contractNumber:
                    type: string
                    pattern:  ^[\w\W]{1,100}$
                    maxLength: 100
                    minLength: 1
                    example: "1324926521496"
                    description: "Número do contrato dado pela instituição contratante."
                  ipocCode:
                    type: string
                    pattern:  ^[\w\W]{22,67}$
                    maxLength: 67
                    minLength: 22
                    example: "92792126019929279212650822221989319252576"
                    description: |
                      Número padronizado do contrato - IPOC (Identificação Padronizada da Operação de Crédito). Segundo DOC 3040, composta por:


                      CNPJ da instituição: 8 (oito) posições iniciais;
                      Modalidade da operação: 4 (quatro) posições;
                      Tipo do cliente: 1 (uma) posição( 1 = pessoa natural - CPF, 2= pessoa jurídica
                      
                      – CNPJ, 3 = pessoa física no exterior, 4 = pessoa jurídica no exterior, 5 = pessoa natural sem CPF e 6 = pessoa jurídica sem CNPJ);
                      
                      - Código do cliente: O número de posições varia conforme o tipo do cliente:
                      Para clientes pessoa física com CPF (tipo de cliente = 1), informar as 11 (onze) posições do CPF;
                      Para clientes pessoa jurídica com CNPJ (tipo de cliente = 2), informar as 8 (oito) posições iniciais do CNPJ;
                      Para os demais clientes (tipos de cliente 3, 4, 5 e 6), informar 14 (catorze) posições com complemento de zeros à esquerda se a identificação tiver tamanho inferior;
                      
                      - Código do contrato: 1 (uma) até 40 (quarenta) posições, sem complemento de caracteres.
                  productName:
                    type: string
                    maxLength: 140
                    pattern: '^(?!\s)[\w\W\s]*[^\s]$'
                    example: Crédito Pessoal Consignado
                    description: |
                      Denominação/Identificação do nome da Modalidade da Operação de Crédito divulgado ao cliente
                  productType:
                    type: string
                    description: 'Tipo da modalidade de crédito contratada, conforme  circular 4.015 e descrição do DOC3040 do SCR).'
                    enum:
                      - EMPRESTIMOS
                    example: EMPRESTIMOS
                  productSubType:
                    type: string
                    description: |
                      Denominação/Identificação do sub tipo da garantia que avaliza a Modalidade da Operação de Crédito contratada (Doc 3040, Anexo 12).
                    enum:
                      - ACOES_DEBENTURES
                      - ACORDOS_COMPENSACAO_LIQUIDACAO_OBRIGACOES
                      - APLICACOES_FINANCEIRAS_RENDA_FIXA
                      - APLICACOES_FINANCEIRAS_RENDA_VARIAVEL
                      - APOLICES_CREDITO_EXPORTACAO
                      - CCR_CONVENIO_CREDITOS_RECIPROCOS
                      - CHEQUES
                      - CIVIL
                      - DIREITOS_SOBRE_ALUGUEIS
                      - DEPOSITOS_A_VISTA_A_PRAZO_POUPANCA_OURO_TITULOS_PUBLICOS_FEDERAIS_ART_36
                      - DEPOSITO_TITULOS_EMITIDOS_ENTIDADES_ART_23
                      - DUPLICATAS
                      - EMD_ENTIDADES_MULTILATERAIS_DESENVOLVIMENTO_ART_37
                      - EQUIPAMENTOS
                      - ESTADUAL_OU_DISTRITAL
                      - FATURA_CARTAO_CREDITO
                      - FEDERAL
                      - FCVS_FUNDO_COMPENSACAO_VARIACOES_SALARIAIS
                      - FGI_FUNDO_GARANTIDOR_INVESTIMENTOS
                      - FGPC_FUNDO_GARANTIA_PROMOCAO_COMPETIT
                      - FGTS_FUNDO_GARANTIA_TEMPO_SERVICO
                      - FUNDO_GARANTIDOR_AVAL
                      - GARANTIA_PRESTADA_FGPC_LEI_9531_ART_37
                      - GARANTIA_PRESTADA_FUNDOS_QUAISQUER_OUTROS_MECANISMOS_COBERTURA_RISCO_CREDITO_ART_37
                      - GARANTIA_PRESTADA_TESOURO_NACIONAL_OU_BACEN_ART_37_BENS_DIREITOS_INTEGRANTES_PATRIMONIO_AFETACAO
                      - IMOVEIS
                      - IMOVEIS_RESIDENCIAIS
                      - MITIGADORAS
                      - MUNICIPAL
                      - NAO_MITIGADORAS
                      - NOTAS_PROMISSORIAS_OUTROS_DIREITOS_CREDITO
                      - OUTRAS
                      - OUTROS
                      - OUTROS_BENS
                      - OUTROS_GRAUS
                      - OUTROS_IMOVEIS
                      - OUTROS_SEGUROS_ASSEMELHADOS
                      - PESSOA_FISICA
                      - PESSOA_FISICA_EXTERIOR
                      - PESSOA_JURIDICA
                      - PESSOA_JURIDICA_EXTERIOR
                      - PRIMEIRO_GRAU_BENS_DIREITOS_INTEGRANTES_PATRIMONIO_AFETACAO
                      - PRIMEIRO_GRAU_IMOVEIS_RESIDENCIAIS
                      - PRIMEIRO_GRAU_OUTROS
                      - PROAGRO
                      - PRODUTOS_AGROPECUARIOS_COM_WARRANT
                      - PRODUTOS_AGROPECUARIOS_SEM_WARRANT
                      - SBCE_SOCIEDADE_BRASILEIRA_CREDITO_EXPORTAÇÃO
                      - SEGURO_RURAL
                      - SEM_SUB_TIPO_GARANTIA
                      - TRIBUTOS_RECEITAS_ORCAMENTARIAS
                      - VEICULOS
                      - VEICULOS_AUTOMOTORES
                    example: NOTAS_PROMISSORIAS_OUTROS_DIREITOS_CREDITO
                  contractDate:
                    type: string
                    format: date
                    maxLength: 10
                    pattern: '^(\d{4})-(1[0-2]|0?[1-9])-(3[01]|[12][0-9]|0?[1-9])$'
                    example: '2018-01-05'
                    description: Data de contratação da operação de crédito. Especificação RFC-3339
                  paidInstalments:
                    type: number
                    maximum: 2147483647
                    example: 73
                    description: Quantidade total de parcelas pagas do contrato referente à Modalidade de Crédito informada.
                  contractOutstandingBalance:
                    type: string
                    format: double
                    pattern: '^\d{1,15}\.\d{2,4}$'
                    maxLength: 20
                    minLength: 4
                    example: '1000.0400'
                    description: Valor necessário para o cliente liquidar a dívida.
              proposedContract:
                type: object
                properties:
                  interestRates:
                    type: array
                    description: |
                      Objeto que traz o conjunto de informações necessárias para demonstrar a composição das taxas de juros remuneratórios da Modalidade de crédito.  
                      Caso o contrato não possua taxas de juros, deve ser compartilhada uma lista vazia. Caso o contrato possua uma taxa de juros com valor 0, deve ser compartilhado um objeto com o valor 0 de forma explícita.
                    items:
                      $ref: '#/components/schemas/LoansContractInterestRate'
                    minItems: 0
                  contractedFees:
                    type: array
                    description: Lista que traz as informações das tarifas pactuadas no contrato.
                    items:
                      type: object
                      description: Objeto que traz o conjunto de informações necessárias para demonstrar a composição das taxas de juros remuneratórios da Modalidade de crédito
                      required:
                        - feeName
                        - feeCode
                        - feeChargeType
                        - feeCharge
                      properties:
                        feeName:
                          type: string
                          maxLength: 140
                          pattern: '^(?!\s)[\w\W\s]*[^\s]$'
                          description: Denominação da Tarifa pactuada
                          example: Renovação de cadastro
                        feeCode:
                          type: string
                          maxLength: 140
                          pattern: '^(?!\s)[\w\W\s]*[^\s]$'
                          description: Sigla identificadora da tarifa pactuada
                          example: CADASTRO
                        feeChargeType:
                          type: string
                          description: Tipo de cobrança para a tarifa pactuada no contrato.
                          enum:
                            - UNICA
                            - POR_PARCELA
                          example: UNICA
                        feeCharge:
                          type: string
                          description: |
                            "Forma de cobrança relativa a tarifa pactuada no contrato. (Vide Enum)
                            - Mínimo
                            - Máximo
                            - Fixo
                            - Percentual"
                          enum:
                            - MINIMO
                            - MAXIMO
                            - FIXO
                            - PERCENTUAL
                          example: MINIMO
                        feeAmount:
                          type: string
                          format: double
                          pattern: '^\d{1,15}\.\d{2,4}$'
                          maxLength: 20
                          minLength: 4
                          description: |
                            Valor monetário da tarifa pactuada no contrato. 
                
                            [Restrição] Preenchimento obrigatório quando a forma de cobrança for diferente de Percentual.
                          example: '100000.0400'
                        feeRate:
                          type: string
                          pattern: '^\d{1}\.\d{6}$'
                          format: double
                          maxLength: 8
                          minLength: 8
                          description: |
                            É o valor da tarifa em percentual pactuada no contrato.
                
                            [Restrição] Preenchimento obrigatório quando a forma de cobrança for Percentual.
                          example: '0.062000'
                    minItems: 0
                  contractedFinanceCharges:
                    type: array
                    description: Lista que traz os encargos pactuados no contrato
                    items:
                      type: object
                      description: Conjunto de informações referentes à identificação da operação de crédito
                      required:
                        - chargeType
                      properties:
                        chargeType:
                          type: string
                          description: Tipo de encargo pactuado no contrato.
                          enum:
                            - JUROS_REMUNERATORIOS_POR_ATRASO
                            - MULTA_ATRASO_PAGAMENTO
                            - JUROS_MORA_ATRASO
                            - IOF_CONTRATACAO
                            - IOF_POR_ATRASO
                            - SEM_ENCARGO
                            - OUTROS
                          example: JUROS_REMUNERATORIOS_POR_ATRASO
                        chargeAdditionalInfo:
                          type: string
                          maxLength: 140
                          description: |
                            Campo para informações adicionais.
                
                            [Restrição] Obrigatório se selecionada a opção 'OUTROS' em Tipo de encargo pactuado no contrato.
                          pattern: '^(?!\s)[\w\W\s]*[^\s]$'
                          example: Informações adicionais sobre encargos.
                        chargeRate:
                          type: string
                          pattern: '^\d{1}\.\d{6}$'
                          format: double
                          maxLength: 8
                          minLength: 8
                          description: |
                            Representa o valor do encargo em percentual pactuado no contrato.
                
                            O preenchimento deve respeitar as 6 casas decimais, mesmo que venham preenchidas com zeros(representação de porcentagem p.ex: 0.150000. Este valor representa 15%. O valor 1 representa 100%).
                          example: '0.070000'
                    minItems: 0

    LoansContractInterestRate:
      type: object
      description: Objeto que traz o conjunto de informações necessárias para demonstrar a composição das taxas de juros remuneratórios da Modalidade de crédito
      required:
        - taxType
        - interestRateType
        - taxPeriodicity
        - calculation
        - referentialRateIndexerType
        - preFixedRate
        - postFixedRate
      properties:
        taxType:
          type: string
          description: |
            "Tipo de Taxa (vide  Enum)
            - NOMINAL (taxa nominal é uma taxa de juros em que a unidade referencial não coincide com a unidade de tempo da capitalização. Ela é sempre fornecida em termos anuais, e seus períodos de capitalização podem ser diários, mensais, trimestrais ou semestrais. p.ex. Uma taxa de 12% ao ano com capitalização mensal)
            - EFETIVA (É a taxa de juros em que a unidade referencial coincide com a unidade de tempo da capitalização. Como as unidades de medida de tempo da taxa de juros e dos períodos de capitalização são iguais, usa-se exemplos simples como 1% ao mês, 60% ao ano)"
          enum:
            - NOMINAL
            - EFETIVA
          example: EFETIVA
        interestRateType:
          type: string
          description: |
            "Tipo de Juros  (vide  Enum)
            - SIMPLES (aplicada/cobrada sempre sobre o capital inicial, que é o valor emprestado/investido. Não há cobrança de juros sobre juros acumulados no(s) período(s) anterior(es). Exemplo: em um empréstimo de R$1.000, com taxa de juros simples de 8% a.a., com duração de 2 anos, o total de juros será R$80 no primeiro ano e R$ 80 no segundo ano. Ao final do contrato, o tomador irá devolver o principal e os juros simples de cada ano: R$1.000+R$80+R$80=R$1.160)
            - COMPOSTO (para cada período do contrato (diário, mensal, anual etc.), há um “novo capital” para a cobrança da taxa de juros contratada. Esse “novo capital” é a soma do capital e do juro cobrado no período anterior. Exemplo: em um empréstimo de R$1.000, com taxa de juros composta de 8% a.a., com duração de 2 anos, o total de juros será R$80 no primeiro ano. No segundo ano, os juros vão ser somados ao capital (R$1.000 + R$ 80 = R$ 1.080), resultando em juros de R$ 86 (8%de R$ 1.080))"
          enum:
            - SIMPLES
            - COMPOSTO
          example: SIMPLES
        EnumContractReferentialRateIndexerSubType:
          type: string
          description: |
            "Sub tipos de taxas referenciais ou indexadores, conforme Anexo 5: Taxa referencial ou Indexador (Indx), do Documento 3040"
          enum:
            - SEM_SUB_TIPO_INDEXADOR
            - PRE_FIXADO
            - TR_TBF
            - TJLP
            - LIBOR
            - TLP
            - OUTRAS_TAXAS_POS_FIXADAS
            - CDI
            - SELIC
            - OUTRAS_TAXAS_FLUTUANTES
            - IGPM
            - IPCA
            - IPCC
            - OUTROS_INDICES_PRECO
            - TCR_PRE
            - TCR_POS
            - TRFC_PRE
            - TRFC_POS
            - OUTROS_INDEXADORES
          example: TJLP
        taxPeriodicity:
          type: string
          description: |
            "Periodicidade da taxa . (Vide  Enum)
            a.m - ao mês
            a.a. - ao ano"
          enum:
            - AM
            - AA
          example: AA
        calculation:
          type: string
          description: Base de cálculo
          enum:
            - 21/252
            - 30/360
            - 30/365
          example: 21/252
        referentialRateIndexerType:
          type: string
          description: |
            "Tipos de taxas referenciais ou indexadores, conforme Anexo 5: Taxa referencial ou Indexador (Indx), do Documento 3040"
          enum:
            - SEM_TIPO_INDEXADOR
            - PRE_FIXADO
            - POS_FIXADO
            - FLUTUANTES
            - INDICES_PRECOS
            - CREDITO_RURAL
            - OUTROS_INDEXADORES
          example: PRE_FIXADO
        referentialRateIndexerSubType:
          type: string
          description: |
            "Sub tipos de taxas referenciais ou indexadores, conforme Anexo 5: Taxa referencial ou Indexador (Indx), do Documento 3040"
          enum:
            - SEM_SUB_TIPO_INDEXADOR
            - PRE_FIXADO
            - TR_TBF
            - TJLP
            - LIBOR
            - TLP
            - OUTRAS_TAXAS_POS_FIXADAS
            - CDI
            - SELIC
            - OUTRAS_TAXAS_FLUTUANTES
            - IGPM
            - IPCA
            - IPCC
            - OUTROS_INDICES_PRECO
            - TCR_PRE
            - TCR_POS
            - TRFC_PRE
            - TRFC_POS
            - OUTROS_INDE
        referentialRateIndexerAdditionalInfo:
          type: string
          description: |
            Campo livre para complementar a informação relativa ao Tipo de taxa referencial ou indexador.
            [Restrição] Obrigatório para complementar a informação relativa ao Tipo de taxa referencial ou indexador, quando selecionada o tipo ou subtipo OUTRO.
          maxLength: 140
          pattern: '^(?!\s)[\w\W\s]*[^\s]$'
          example: Informações adicionais
        preFixedRate:
          type: string
          pattern: '^\d{1,2}\.\d{6}$'
          format: double
          maxLength: 9
          minLength: 8
          example: '0.600000'
          description: |
            Taxa pré fixada aplicada sob o contrato da modalidade crédito. p.ex. 0.014500. O preenchimento deve respeitar as 6 casas decimais, mesmo que venham preenchidas com zeros(representação de porcentagem p.ex: 0.150000. Este valor representa 15%. O valor 1 representa 100%). Preencher o campo não aplicável ao contrato com zeros, seguindo o pattern (0.000000).
        postFixedRate:
          type: string
          pattern: '^\d{1,2}\.\d{6}$'
          format: double
          maxLength: 9
          minLength: 8
          description: |
            Taxa pós fixada aplicada sob o contrato da modalidade crédito. p.ex. 0.0045 .O preenchimento deve respeitar as 6 casas decimais, mesmo que venham preenchidas com zeros (representação de porcentagem p.ex: 0.1500. Este valor representa 15%. O valor 1 representa 100%). Preencher o campo não aplicável ao contrato com zeros, seguindo o pattern (0.000000)
          example: '0.550000'
        additionalInfo:
          type: string
          maxLength: 1200
          pattern: '^(?!\s)[\w\W\s]*[^\s]$'
          example: Informações adicionais
          description: |
            Texto com informações adicionais sobre a composição das taxas de juros pactuadas. 

            [Restrição] Caso a instituição possua a informação para compartilhamento, esta deverá ser informada.
    POSTResponseCreditPortability:
      type: object
      required:
        - data
      properties:
        data:
          type: array
          minItems: 0
          description: Conjunto de informações de contratos de empréstimos/financiamentos mantidos pelo cliente na instituição credora e para os quais ele tenha fornecido consentimento
          items:
            type: object
            required:
            - contractId
            - contractNumber
            - ipocCode
            - portability
            - productType
            - productSubType
            properties:
              portabilityId:
                type: string
                pattern: "^[0-9a-fA-F]{8}\b-[0-9a-fA-F]{4}\b-[0-9a-fA-F]{4}\b-[0-9a-fA-F]{4}\b-[0-9a-fA-F]{12}$"
                maxLength: 100
                minLength: 1
                example: "54d5348c-1a3f-4ff4-a8a8-d0724fb806c6"
                description: "Código identificador do pedido de portabilidade realizado."
              status:
                type: string
                description: Informação sobre a disponibilidade ou não de um contrato para a portabilidade de crédito
                enum:
                  - RECEIVED
                  - TECHNICAL_VALIDATION_IN_PROCESS
                  - PENDING
                  - ACCEPTED_SETTLEMENT_IN_PROCESS
                  - ACCEPTED_SETTLEMENT_COMPLETED
                  - PORTABILITY_COMPLETED
                  - REJECTED
                  - ACCEPTED_WITH_CHANGE
                  - CANCELED
              strCode:
                type: string
                enum:
                  - 12314564654987987
                description: "Tipo da modalidade de crédito contratada, conforme circular 4.015 e descrição do DOC3040 do SCR)."
        meta:
          type: object
          properties:
            requestDateTime:
              description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
              type: string
              maxLength: 20
              format: date-time
              example: '2021-05-21T08:30:00Z'
    Meta:
      type: object
      description: Meta informações referente à API requisitada.
      required:
        - requestDateTime
      properties:
        requestDateTime:
          description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
          type: string
          maxLength: 20
          format: date-time
          example: '2021-05-21T08:30:00Z'
    Links:
      type: object
      description: Referências para outros recusos da API requisitada.
      required:
        - self
      properties:
        self:
          type: string
          format: uri
          maxLength: 2000
          description: URI completo que gerou a resposta atual.
          example: 'https://api.banco.com.br/open-banking/api/v1/resource'
        first:
          type: string
          format: uri
          maxLength: 2000
          description: URI da primeira página que originou essa lista de resultados. Restrição - Obrigatório quando não for a primeira página da resposta
          example: 'https://api.banco.com.br/open-banking/api/v1/resource'
        prev:
          type: string
          format: uri
          maxLength: 2000
          description: "URI da página anterior dessa lista de resultados. Restrição - \tObrigatório quando não for a primeira página da resposta"
          example: 'https://api.banco.com.br/open-banking/api/v1/resource'
        next:
          type: string
          format: uri
          maxLength: 2000
          description: URI da próxima página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta
          example: 'https://api.banco.com.br/open-banking/api/v1/resource'
        last:
          type: string
          format: uri
          maxLength: 2000
          description: URI da última página dessa lista de resultados. Restrição - Obrigatório quando não for a última página da resposta
          example: 'https://api.banco.com.br/open-banking/api/v1/resource'
    ResponseErrorWithAbleAdditionalProperties:
      type: object
      required:
        - errors
      properties:
        errors:
          type: array
          minItems: 1
          maxItems: 13
          items:
            type: object
            required:
              - code
              - title
              - detail
            properties:
              code:
                description: Código de erro específico do endpoint
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 255
              title:
                description: Título legível por humanos deste erro específico
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 255
              detail:
                description: Descrição legível por humanos deste erro específico
                type: string
                pattern: '[\w\W\s]*'
                maxLength: 2048
        meta:
          type: object
          properties:
            requestDateTime:
              description: 'Data e hora da consulta, conforme especificação RFC-3339, formato UTC.'
              type: string
              maxLength: 20
              format: date-time
              example: '2021-05-21T08:30:00Z'
    XFapiInteractionId:
      type: string
      format: uuid
      pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
      minLength: 1
      maxLength: 36
      example: d78fc4e5-37ca-4da3-adf2-9b082bf92280
      description: 'Um UUID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação entre request e response. Campo de geração e envio obrigatório pela receptora (client) e o seu valor deve ser “espelhado” pela transmissora (server) no cabeçalho de resposta. Caso não seja recebido ou se for recebido um valor inválido, a transmissora deve gerar um x-fapi-interaction-id e retorná-lo na resposta com o HTTP Status Code 400. A receptora deve acatar o valor recebido da transmissora.'
  parameters:
    Authorization:
      name: Authorization
      in: header
      description: Cabeçalho HTTP padrão. Permite que as credenciais sejam fornecidas dependendo do tipo de recurso solicitado
      required: true
      schema:
        type: string
        pattern: '[\w\W\s]*'
        maxLength: 2048
    contractId:
      name: contractId
      in: path
      description: Identificador do contrato para todos os tipos de operação de crédito.
      required: true
      schema:
        type: string
        pattern: '^[a-zA-Z0-9][a-zA-Z0-9-]{0,99}$'
        maxLength: 100
    page:
      name: page
      in: query
      description: Número da página que está sendo requisitada (o valor da primeira página é 1).
      schema:
        type: integer
        default: 1
        minimum: 1
        maximum: 2147483647
        format: int32
    pageSize:
      name: page-size
      in: query
      description: Quantidade total de registros por páginas.
      schema:
        type: integer
        default: 25
        minimum: 1
        format: int32
        maximum: 1000
    pagination-key:
      name: pagination-key
      in: query
      description: 'Identificador de rechamada, utilizado para evitar a contagem de chamadas ao endpoint durante a paginação.'
      schema:
        type: string
        maxLength: 2048
        pattern: '[\w\W\s]*'
    xCustomerUserAgent:
      name: x-customer-user-agent
      in: header
      description: Indica o user-agent que o usuário utiliza.
      required: false
      schema:
        type: string
        pattern: '[\w\W\s]*'
        minLength: 1
        maxLength: 100
    xFapiAuthDate:
      name: x-fapi-auth-date
      in: header
      description: 'Data em que o usuário logou pela última vez com o receptor. Representada de acordo com a [RFC7231](https://tools.ietf.org/html/rfc7231).Exemplo: Sun, 10 Sep 2017 19:43:31 UTC'
      required: false
      schema:
        type: string
        pattern: '^(Mon|Tue|Wed|Thu|Fri|Sat|Sun), \d{2} (Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec) \d{4} \d{2}:\d{2}:\d{2} (GMT|UTC)$'
        minLength: 29
        maxLength: 29
    xFapiCustomerIpAddress:
      name: x-fapi-customer-ip-address
      in: header
      description: O endereço IP do usuário se estiver atualmente logado com o receptor.
      required: false
      schema:
        type: string
        pattern: '[\w\W\s]*'
        minLength: 1
        maxLength: 100
    xFapiInteractionId:
      name: x-fapi-interaction-id
      in: header
      description: 'Um UUID [RFC4122](https://tools.ietf.org/html/rfc4122) usado como um ID de correlação entre request e response. Campo de geração e envio obrigatório pela receptora (client) e o seu valor deve ser “espelhado” pela transmissora (server) no cabeçalho de resposta. Caso não seja recebido ou se for recebido um valor inválido, a transmissora deve gerar um x-fapi-interaction-id e retorná-lo na resposta com o HTTP Status Code 400. A receptora deve acatar o valor recebido da transmissora.'
      required: true
      schema:
        type: string
        format: uuid
        pattern: '^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$'
        minLength: 1
        maxLength: 36
        example: d78fc4e5-37ca-4da3-adf2-9b082bf92280
  securitySchemes:
    OpenId:
      type: openIdConnect
      openIdConnectUrl: 'https://auth.mockbank.poc.raidiam.io/.well-known/openid-configuration'
    OAuth2Security:
      type: oauth2
      description: Fluxo OAuth necessário para que a receptora tenha acesso aos dados na instituição transmissora. Requer o processo de redirecionamento e autenticação do usuário a que se referem os dados.
      flows:
        authorizationCode:
          authorizationUrl: 'https://authserver.example/authorization'
          tokenUrl: 'https://authserver.example/token'
          scopes:
            loans: Escopo necessário para acesso à API Loans. O controle dos endpoints específicos é feito via permissions.
  responses:
    POSTResponseCreditPortability:
      description: Dados dos contratos de empréstimos obtidos com sucesso.
      headers:
        x-fapi-interaction-id:
          schema:
            $ref: '#/components/schemas/XFapiInteractionId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/POSTResponseCreditPortability'
    OKResponseConcurrancyManagement:
      description: Dados dos contratos de empréstimos obtidos com sucesso.
      headers:
        x-fapi-interaction-id:
          schema:
            $ref: '#/components/schemas/XFapiInteractionId'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ResponseConcurrancyManagement'
    BadRequest:
      description: 'A requisição foi malformada, omitindo atributos obrigatórios, seja no payload ou através de atributos na URL.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorWithAbleAdditionalProperties'
    Forbidden:
      description: O token tem escopo incorreto ou uma política de segurança foi violada
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorWithAbleAdditionalProperties'
    InternalServerError:
      description: Ocorreu um erro no gateway da API ou no microsserviço
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorWithAbleAdditionalProperties'
    GatewayTimeout:
      description: GATEWAY TIMEOUT - A requisição não foi atendida dentro do tempo limite estabelecido
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorWithAbleAdditionalProperties'
    Locked:
      description: Locked
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorWithAbleAdditionalProperties'
    MethodNotAllowed:
      description: O consumidor tentou acessar o recurso com um método não suportado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorWithAbleAdditionalProperties'
    NotAcceptable:
      description: A solicitação continha um cabeçalho Accept diferente dos tipos de mídia permitidos ou um conjunto de caracteres diferente de UTF-8
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorWithAbleAdditionalProperties'
    NotFound:
      description: O recurso solicitado não existe ou não foi implementado
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorWithAbleAdditionalProperties'
    TooManyRequests:
      description: 'A operação foi recusada, pois muitas solicitações foram feitas dentro de um determinado período ou o limite global de requisições concorrentes foi atingido'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorWithAbleAdditionalProperties'
    Unauthorized:
      description: Cabeçalho de autenticação ausente/inválido ou token inválido
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorWithAbleAdditionalProperties'
    UnprocessableEntity:
      description: 'A sintaxe da requisição esta correta, mas não foi possível processar as instruções presentes.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorWithAbleAdditionalProperties'
    SiteIsOverloaded:
      description: 'O site está sobrecarregado e a operação foi recusada, pois foi atingido o limite máximo de TPS global, neste momento.'
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorWithAbleAdditionalProperties'
    Default:
      description: Erro inesperado.
      content:
        application/json; charset=utf-8:
          schema:
            $ref: '#/components/schemas/ResponseErrorWithAbleAdditionalProperties'
